* {
  box-sizing: border-box;
}

#row {
	margin: 20px;
	padding: 10px;
	position: absolute;

}

p {
	color: #ffffff;
	background-color: #555555;

}

#mytitle {
	float: both;
	text-align: right;
}

@media (min-width: 992px) {
	.col1, .col2, .col3 {
		float: left;
		padding: 20px;
		border: solid black 2px;
	}


	.col1 {
		width: 33.33%;
	}

	.col2 {
		width: 33.33%;
	}

	.col3 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col1, .col2, .col3 {
		float: left;
		border: 1px;
		background-color: purple;
	}


	.col1 {
		width: 50%;
	}

	.col2 {
		width: 50%;
	}

	.col3 {
		width: 100%;
	}

}